#############################################################
## control.vm
## Brad Matlack 12-5-2001
#############################################################
## log the model parameters to the report file
$model

#set( $beans = $model.getBeans() )
#set( $path = $strings.getPackageAsPath($model.getName()))

## log
output directory: $outputPath/$path
package: $model.getName()

$files.mkdir("${outputPath}/${path}")
$generator.getProperties().toString()

## loop through each bean in the package
#foreach( $bean in $beans )
  ##================= jar path ==============================##
  #set( $template = "${templatePath}/pojo.vm" )
  #set( $classname = $bean.getName())
  ##set( $outputFile = $strings.concat([$classname, ".java"]) )
  #set ($outputFile = "${outputPath}/${path}/${classname}.java")
  ##set ($outputFile = "${outputPath}/test.java")
  ##=========================================================##
  $generator.parse($template, $outputFile, "", "")
#end
  
