#############################################################
## merge.vm
## merge multiple pages into one
## Brad Matlack 1-2006
#############################################################
#set( $site = $model )
#set( $pages = $site.getOrderedPages() )
#set( $webroot = $site.getWebRoot() )

<html>
<link rel="stylesheet" type="text/css" href="${webroot}/css/website.css">
<title>${webTitle}</title>
</head>
<body>
<h1 class="title">${webTitle}</h1>

## loop through each page in the site, create top level navigation
#foreach( $page in $pages )

  #if( $site.isValidPage($page) ) 
    ##GENERATING $page
    #set( $title = $page.getMenuItem().getLabel() )
    <div><a href="#${title}">${title}</a></div>
  #else
    ##WARNING generation aborted: no source file for $page
  #end
  
#end

<hr>
  
## loop through each page in the site
#foreach( $page in $pages )

  #if( $site.isValidPage($page) ) 
    ##GENERATING $page
    #set( $title = $page.getMenuItem().getLabel() )
    <p><i><a name="${title}">$title</a></i></p>
    ##$page.getBody()
    $generator.evaluate($page.getBody())
  #else
    ##WARNING generation aborted: no source file for $page
  #end
  
#end

</body>
</html>
  
