A {
	COLOR: #003399
}
A:active {
	COLOR: #003399
}
A:visited {
	COLOR: #888888
}
P {
	COLOR: #000000
}
OL {
	COLOR: #000000
}
UL {
	COLOR: #000000
}
LI {
	COLOR: #000000
}
DL {
	COLOR: #000000
}
DT {
	COLOR: #000000
}
DD {
	COLOR: #000000
}
BLOCKQUOTE {
	COLOR: #000000
}
TD {
	COLOR: #000000
}
TH {
	COLOR: #000000
}
SPAN {
	COLOR: #000000
}
BLOCKQUOTE {
	MARGIN-RIGHT: 0px
}
H1 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
H3 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
H4 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
H5 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
H6 {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; COLOR: #000000; PADDING-TOP: 15px
}
TABLE {
	BORDER-RIGHT: black thin; BORDER-TOP: black thin; BORDER-LEFT: black thin; BORDER-BOTTOM: black thin; BORDER-COLLAPSE: collapse; border-spacing: 0; empty-cells: hide
}
TD {
	PADDING-RIGHT: 4pt; PADDING-LEFT: 4pt; PADDING-BOTTOM: 4pt; PADDING-TOP: 4pt
}
H1 {
	FONT-SIZE: 150%
}
H2 {
	FONT-SIZE: 140%
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
H5 {
	FONT-SIZE: 100%; FONT-STYLE: italic
}
H6 {
	FONT-SIZE: 100%; FONT-STYLE: italic
}
TT {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: "Courier New", Courier, monospace
}
PRE {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f4f4f4
}
UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: disc
}
LI {
	LIST-STYLE-TYPE: disc
}
HR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #cccccc; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0px
}
.variablelist {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.itemizedlist {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.term {
	FONT-WEIGHT: bold
}
